<section class="section--text section--par">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="reveal">
                  {{ paragraph.entity.field_text.value | raw | striptags}}
                </h3>
            </div>
        </div>
    </div>
</section>
