<section class="section--quote section--par">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 offset-1">
                <h3 class="reveal">
                  {{ paragraph.entity.field_text.value | raw | striptags}}
                </h3>
            </div>
        </div>
    </div>
</section>
