{% if paragraph.entity.field_title.value %}
<section class="section--title section--par" id="{{paragraph.entity.field_title.value}}">
    <div class="container-fluid">
        <div class="row">
            <div class="title">
                <h4>
                    {{ paragraph.entity.field_title.value | raw }}
                </h4>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% if paragraph.entity.field_text.value %}
<section class="section--linked section--par">
    <div class="container-fluid">
        <div class="row">
            <div class="par-text">
                <div class="textfield">
                    {{ paragraph.entity.field_text.value | raw }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}