<main class="barba-main" data-barba="container">
	<section>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="title-mask project-title-mask">
						<h1 class="project-title">
							{{node.title.value}}
						</h1>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container-fluid">
			<div class="row">
				<div class="projects overview-projects">
					{{ views.custom_bootstrap_sass_views_block__projects_block_2 }}
				</div>
			</div>
		</div>
	</section>
</main>
