<script
    type="module"
    src="https://unpkg.com/@splinetool/viewer@1.0.87/build/spline-viewer.js"
    id="spline-script"
></script>
<main class="barba-main" data-barba="container" data-barba-namespace="home">
    <section class="section--landing">
        <spline-viewer
            class="logo--3d"
            id="js-logo"
            url="https://prod.spline.design/U2kajozBtuhH3ozm/scene.splinecode"
        ></spline-viewer>
        <div class="hoop-mask">
            <div class="hoop hoop--landing"></div>
        </div>
        <div class="hoop hoop--landing"></div>
        <div class="container container--landing">
            <div class="row">
                <div class="title-mask">
                    <h1 class="landing-title landing-title--1">Creative</h1>
                </div>
                <div class="title-mask">
                    <h1 class="landing-title landing-title--2">Developer</h1>
                </div>
            </div>
            <div class="row">
                <div class="col landing-cta">
                    <a href="./leeswijzer" class="btn btn-primary btn-arrow">Leeswijzer</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section--work">
        <div class="container-fluid">
            <div class="row">
                <div class="title">
                    <h4>Selected work</h4>
                </div>
            </div>
            <div class="row position-relative">
                <div class="projects home-projects">
                    {{
                        views.custom_bootstrap_sass_views_block__projects_block_1
                    }}
                    {{
                        views.custom_bootstrap_sass_views_block__projects_block_2
                    }}
                </div>
            </div>
        </div>
    </section>
    <section class="section--about">
        <div class="container-fluid">
            <div class="row">
                <div class="title">
                    <h4>About</h4>
                </div>
            </div>
            <div class="row">
                <div class="about">
                    <h3 class="reveal about-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Adipisci consequuntur debitis deleniti eligendi
                        error, excepturi illo, molestias nam optio qui
                        reiciendis sit tempore. Alias amet assumenda
                        consequuntur, dolores nam praesentium!
                    </h3>
                </div>
            </div>
            <img
                src="./themes/custom/custom_bootstrap_sass/images/star--3d-1.png"
                alt=""
                class="star--3d star--3d-1 about-el"
            />
            <img
                src="./themes/custom/custom_bootstrap_sass/images/star--3d-2.png"
                alt=""
                class="star--3d star--3d-2 about-el"
            />
            <img
                src="./themes/custom/custom_bootstrap_sass/images/about.JPG"
                alt=""
                class="about-img about-el"
            />
        </div>
    </section>
    <!-- <section class="section--service">
        <div class="container-fluid">
            <div class="row">
                <div class="title">
                    <h4>What I do</h4>
                </div>
            </div>
            <div class="service-row">
                <div class="service offset-2">
                    <h2 class="service-title">UX Design</h2>
                    <img
                        class="service-img parallax"
                        src="./themes/custom/custom_bootstrap_sass/images/placeholder.jpg"
                        alt=""
                    />
                </div>
            </div>
            <div class="service-row">
                <div class="service offset-1">
                    <img
                        class="service-img parallax"
                        src="./themes/custom/custom_bootstrap_sass/images/placeholder.jpg"
                        alt=""
                    />
                    <h2 class="service-title">Front-end Dev.</h2>
                </div>
            </div>
            <div class="service-row">
                <div class="service offset-1">
                    <h2 class="service-title">User research</h2>
                    <img
                        class="service-img--star star--3d"
                        src="./themes/custom/custom_bootstrap_sass/images/star--3d-2.png"
                        alt=""
                    />
                </div>
            </div>
            <div class="service-row">
                <div class="service offset-1">
                    <div class="hoop hoop--service">Specialised in!</div>
                    <h2 class="service-title">Animation</h2>
                    <img
                        class="service-img parallax"
                        src="./themes/custom/custom_bootstrap_sass/images/placeholder.jpg"
                        alt=""
                    />
                </div>
            </div>
        </div>
    </section> -->
</main>
<script
    type="module"
    src="../web/themes/custom/custom_bootstrap_sass/js/home.js"
></script>
