<main class="barba-main" data-barba="container" data-barba-namespace="leeswijzer'>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-11 offset-1">
                    <div class="title-mask project-title-mask">
                        <h1 class="project-title">{{ node.title.value }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section--par">
        <div class="container-fluid">
            <div class="row">
                <div class="title">
                    <h4>Intro</h4>
                </div>
            </div>
            <div class="row">
                <div class="project-intro">
                    <h3 class="reveal">{{ node.field_intro.value | raw }}</h3>
                </div>
            </div>
        </div>
    </section>
    {% include directory ~ '/templates/content/partials/paragraphs.html.twig' %}
</main>
