<footer>
    {% set items = simplify_menu('footer') %}
    <div class="container-fluid footer-container">
        <div class="row footer-links">
            <div class="footer-link">
                <a href="{{ items.menu_tree.0.url }}"> Leeswijzer</a>
            </div>
            <div class="footer-link">
                <a href="{{ items.menu_tree.0.url }}"> Contact</a>
            </div>
            <div class="footer-link">
                <a href="{{ items.menu_tree.0.url }}"> Projecten</a>
            </div>
        </div>
    </div>
    <h1 class="footer-marquee">
        Zjuul Rovers - create developer -&nbsp
    </h1>
</footer>
