<footer>
    {% set items = simplify_menu('footer') %}
    <div class="container-fluid footer-container">
        <div class="row footer-links">
            <div class="footer-link">
                <a href="./leeswijzer"> Leeswijzer</a>
            </div>
            <div class="footer-link">
                <a href="https://www.linkedin.com/in/zjuul-rovers-b86ab5234/"> Contact</a>
            </div>
            <div class="footer-link">
                <a href="./projecten"> Projecten</a>
            </div>
        </div>
    </div>
    <h2 class="footer-marquee">
        Zjuul Rovers - creative developer -&nbsp
    </h2>
</footer>
